@import "config";
@import "menu";
* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
    color: #fff;
    padding-bottom: 10px;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}
a {
  color: #dff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;
  .icons {
    margin-top: 1.5rem;
    a {
      padding: 0.4rem;
      @include easeOut();

      &:hover {
        color: $secondary-color;
        text-shadow: 2px 2px 10px $secondary-color;
      }
    }
  }
}

#home {
  overflow: hidden;
  h1 {
    margin-top: 20vh;
  }
}
