@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 5rem;
    color: #fff;
    padding-bottom: 1.5px;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 1.5);
  }
}
a {
  color: #dff;
  text-decoration: none;
}

.menu-btn {
  top: 1.8rem;
}

.border-header {
  background: darken($primary-color, 5);
  padding-top: 9.5vh;
  position: fixed;
  z-index: 2;
  width: 100%;

  header {
    background: none;
    padding: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    opacity: none;
  }

  .heading {
    color: $secondary-color;
    font-family: cursive;
    font-size: 1.5rem;
    position: absolute;
    left: 30px;
    top: 5px;
    opacity: none;
  }
}

.text-secondary {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: $secondary-color;
}

h5 {
  font-size: 15px;
  color: $secondary-color;
}
main {
  padding: 3rem 4rem 1.5rem 4rem;
  min-height: calc(100vh - 60px);
  .icons {
    margin-top: 1.5rem;
    a {
      padding: 0.4rem;
      @include easeOut();

      &:hover {
        color: $secondary-color;
        text-shadow: 2px 2px 10px $secondary-color;
      }
    }
  }
}
#home {
  overflow: hidden;
  h1 {
    margin-top: 20vh;
  }
}

.home-imgs {
  display: grid;
  padding-top: 15px;
  grid-gap: 0.7rem;

  img {
    width: 14rem;
    height: 10rem;
    border: 3px darken($primary-color, 5) solid;
  }
}

// about scss
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.1rem;
    font-style: inherit;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: darken($primary-color, 5) 10px solid;
  }
}

//work-scss

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      transform: scale(1.02);
      margin: 0.2rem;
      //padding: 1.2rem 1.2rem;

      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

//contact-scss
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.5rem;

  div {
    font-size: 1.2rem;
    border: 2.5px white solid;
    padding: 0.5rem 1.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.7rem 1.7rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

//button-styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: darken($primary-color, 6.5);
    color: darken($secondary-color, 2);
    @include easeOut;
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}
.btn-light {
  @extend .btn;
  background: lighten(#333333, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

//mobile
@import "mobile";
